body {
    font-family: Arial, sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 5px 0;
}

h2 {
    color: #333;
}
